* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fontFamily);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    background-color: #cccccc;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form {
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.login, .register {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
}

/* Título del formulario */
.login-title, .register-title, .product-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.login-input, .register-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}

.login-input::placeholder, .register-input::placeholder {
    color: #aaa;
}

.login-button, .register-button, .product-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #FF6B35;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover, .product-button:hover {
    background-color: #e05a1f;
}

.admin {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.admin-check {
    color: white;
    margin-right: 15px;
}

/* Agregar producto */

.product-form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para las etiquetas */
.product-label {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 5px;
    display: block;
}

/* Estilo para los inputs de texto y el área de descripción */
.product-input, .product-textarea, .product-file {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #444;
    color: #fff;
}

/* Estilo para el área de texto */
.product-textarea {
    resize: none;
}

.product-file {
    cursor: pointer;
}

/* carrito */

h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%; max-width: 600px;
    text-align: center;
}

.close-btn, .empty-cart, .remove-selected {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.close-btn:hover, .empty-cart:hover, .remove-selected:hover {
    background-color: #0056b3;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

.cart-items li {
    display: flex; align-items: center; justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px; border-bottom: 1px solid #ddd;
}

.cart-items li img {
    width: 50px; height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#view-cart {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#view-cart:hover {
    background-color: #0056b3;
}

.remove-selected {
    display: none; 
    margin-top: 20px;
    background-color: #fe522b;
}

/*  fin carrito */



/* catalogo */

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 250px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-info h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.product-info p {
    margin: 5px 0;
    color: #666;
}

.product-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product-info button:hover {
    background-color: #0056b3;
}

/*  fin catalogo */